int f(int a, int b) {
	return a*b;
}

void c(int a) {
	int ff = readInt();
	printInt (ff * a);
}

int main() {
	int a = 13 * 7;
	printInt(f(a, 8));
	printInt(a);
	printInt(f(5, a/2));
	c(a);
	return 0;
}